.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    max-width: 70%;
    list-style: none;
}
img {
    display: block;
    /* max-width: 100%;
    height: auto; */
    width: 360px;
    height: 200px;
}
